@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1594006932240'); /* IE9 */
  src: url('iconfont.eot?t=1594006932240#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABtgAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBXIFMATYCJAMICwYABCAFhG0HNhv4BRHVkzNkXx9ol3T7xDoCJHgyLXvMbmF1BCRFd1ndjzQWKSt4ryOIxlizd4eJNOiiSTxEEglCswypEZKFQkgW9f9D/oNr3keUDcdJKZjAs0oMjSjwAU1sNGv+AOiQH+5urfAQBGxxztyi0BFmKO+BFNph2rXjND2Up20xDPk8l9ObIHcg1/hAAaW4N401aVIvwDigAPfCKLICOgBuGLuJwCE8J1Br0LxYP9yeQCvAukCcGV0AnYsrilWqFiprjhaIOyBUpzZ6B3DLfx9/wBc0SCoygI69030N8U+EFVjTbWYoAQkQtNMVyJhHIY5q8zswYfFZbR43yr5ag0+P61Kf2OufJyoBNNeDflVzT1qsu1UxEyioxAawPSpGZT3YwlS2vV3zbDi8tg5ZOufYurBi59Tc55TtZ07qXluXfKc3Gvf3xyGSKidUzWqrMxTvkgPPeh6cpsAjwzVMC2aMadWtHuRZEGYuGQHq+5RtOavkguUVziNAb8CCoywDyXyJ3v6pOBYuvjLDf5rDAV69tx53Ff2CoPrMgeAPanuOlFAPvKn42tpysoG8s65atfivh1t9jHV03G45VOu46WCVgRRZtXGysPOoUGcRlaotodacrdN12pzDRGGAWTcKQrN7JI2ekDV7IQv7jgqd/qFSc2CodRLalXUmwzTLTIVQjeUfTTUOCvllKVrvpH1XcFbPhTexMylMwrhYOtJAPMcO99GpiELFY48H5TXquhEnHi1VEjYi0y6KVN2HwmrsYQmZCqEayz+aahwUnSzL0vfvpH1XcMvQQPFN7MzsmIRxD/JoGXoN3cs77qNTEYWKxx4PyiLquhGn+kWWKgmbEdlpF8Fxqq8lXN/Wf90pqAXgTAu4PyNm0K7xQe87DwAA') format('woff2'),
  url('iconfont.woff?t=1594006932240') format('woff'),
  url('iconfont.ttf?t=1594006932240') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1594006932240#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingshu-mulu:before {
  content: "\e620";
}

